@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Privacy Policy
    Rentabike appreciates your trust in us, Our privacy policy is strictly maintained for all visitors of our website. By visiting and/or using our website, you agree to this Privacy Policy.

    Our Privacy Policy explains the information practices that apply to personally identifiable information that we collect about you as an individual, when you visit and/or use our website. Any information that we collect about you while you are visiting or using our website will be handled in accordance with this Rentabike Privacy Policy and will not be shared except in accordance with this Rentabike Privacy Policy. This Privacy Policy does not apply to information about you collected by our affiliates or third party websites that may post links or advertisements on or otherwise be accessible from the Rentabike website.

    Information Collected Automatically: Whenever you visit our website, we automatically collect some information about your transactions with us, and your use of our website. For example, we automatically collect your IP address, for Rentabike internal use only, such as to help us diagnose problems with our server and administer our website.

    We also automatically track certain information about your activities on our website such as the type of web browser you are using and click stream data. If you are a registered Rentabike customer, we link this automatically-collected data to the personally identifiable information we collect about you described below. We use this information to do internal research on your interests and to help us better understand and serve you.

    Information You Send To Us: If you choose to provide us with Personal Information, such as by sending us an e-mail or by filling out a form with your Personal Information and submitting it to us through our Website, we collect the Personal Information that you provide to us. For example, if you register or sign up for an account with us, we collect your name, e-mail address, telephone number and password.

    If you place an order with us, we collect the Personal Information that you provide to us such as your shipping, billing, and payment information.

    From time-to-time Rentabike may give you the opportunity to participate in contests or surveys on our Website. If you participate, we will request certain Personal Information from you. Participation in these surveys or contests is completely voluntary and you therefore have a choice whether or not to disclose the requested information.

    Information About Your Transactions With Us: In addition, we collect your order information and purchase and payment history.Cookies and Similar Files:Our Website uses “cookies” and files that are similar to cookies. Cookies are alphanumeric identifiers created by your browser at our request and stored in an approved and standardized place on your computer. By transferring these cookies, Rentabike assigns you a unique customer code and record locater. Information about your activity on our Website can then be included in your customer record, which is stored within the Rentabike firewall. When you visit or return to our Website, we read the cookie to identify you as one of our customers and help recall orders or preferences you have selected. The cookie also enables us to recall your past activities, post your account data, and tailor site elements and special offers to you.

    No Personal Information about you is stored on the cookie. Most Web browsers accept cookies by default, but allow users to reject cookies by changing the browser preferences. If you have set up your browser to reject cookies, some aspects of our Website, including our Shopping Cart, will not work properly. If you have Macromedia Flash installed on your computer, we will also use a file called a Flash Object to store your unique customer code and record locater on your computer. Unless deactivated by you, the Flash Object provides us with a backup method for recognizing you in the event that we are unable to identify your cookies.

    This Privacy Policy covers the use of cookies and similar files by Rentabike only and does not cover the use of cookies and similar files by any third party advertisers or websites linked to the Website. We use third-party advertising companies to serve ads on our behalf. These companies may use a cookie or an action tag, also known as a Web Beacon or a 1 pixel .gif file, to track your response to their advertisement and to measure the effectiveness of their advertising or to award incentives or points to their members who respond to their advertisements.

    Rentabike has no access to or control over cookies or action tags used by these third party companies. Rentabike does not receive any personally identifiable information collected by these advertisers using action tags or cookies nor does Rentabike share any of your personally identifiable information such as your name, telephone number or address with these companies except in accordance with this Rentabike Privacy Policy.

    Public Forums and Blogs: Rentabike hosts and maintains discussion forums or blogs for our users and the general public. We provide our users with the capacity to post entries in our blogs and forums. Any information disclosed in these areas is deemed public information and we advise every user to exercise caution when disclosing personal information on these blogs or forums. Rentabike is not responsible for any such information disclosed or any action taken as a result of the disclosed information..
    Public Forums and Blogs: Rentabike hosts and maintains discussion forums or blogs for our users and the general public. We provide our users with the capacity to post entries in our blogs and forums. Any information disclosed in these areas is deemed public information and we advise every user to exercise caution when disclosing personal information on these blogs or forums. Rentabike is not responsible for any such information disclosed or any action taken as a result of the disclosed information..
</p>
